body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
/* - header -*/
.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    filter: invert(100%) sepia(0%) saturate(3655%) hue-rotate(317deg) brightness(106%) contrast(90%);
    /* https://codepen.io/sosuke/pen/Pjoqqp - filter colour set up*/
}

.block {
    flex: 1 1 100px;
}

.block.header {
    background-color: #1f2937;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    flex: 1;
}

.menu {
    display: flex;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin-left: 15px;
}

/* - hero -*/

.hero {
    background-color: #1f2937;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 150px 20px;
    flex-wrap: wrap;
    gap: 20px;
    
}

.hero-text {
    flex-basis: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px; 
}

img {
    width: 100%;
    height: auto;
  }

h1 {
    font-size: 48px;
    font-weight:900;
    color: #f9faf8;
    margin: 0;
}

.hero div{
    font-size: 18px;
    color: #E5e7eb;
}

.hero button {
    width: 100px;
    color: white;
    background-color: #3882f6;
    border: 0px;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
}

/* - galary -*/
.galary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;

}
.cards {
    padding-top: 20px;
    display: flex;
    gap:10px;
    justify-content: center;
    flex-basis: 50px;
    text-align: center;
    flex-wrap: wrap;
}
.card {
    flex-basis: 200px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-image {
    width: 150px;
    height: 150px;
    background-color: #3360a0;
    border-radius: 15px;
}

/* --- quote --- */ 
.quote {
    background-color: #e5e7eb;
    display: flex;
    padding: 150px 0px;
    
    
}
.quote .text {
    margin: auto;
    flex-basis: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin: 0px 50px;
}
.quote-auther {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20px;
    margin-right: 50px;
}

/* --- CTA ---*/ 

.cta {
    display: flex;
    justify-content: center;
}

.cta-block {
    margin: auto;
    background-color: #3882f6;
    padding: 50px 50px;
    border-radius: 15px;
    margin: 150px 50px;
    flex-basis: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* margin: 0px 50px; */
}
.cta-text {
    flex-grow: 3;
    color: #E5e7eb;
    justify-self: start;
}

.cta-button {
    flex-grow: 1;
    display: flex;
    justify-content: start;
}

.cta-text-title {
    font-size: 24px;
    font-weight: bold;
}

.SiUp {
    background-color: #3882f6;
    color: #E5e7eb;
    border-radius: 15px;
    border-color: #E5e7eb;
    border-style: solid;
    padding: 10px 30px;
}

.SiUp:hover {
    background-color: #4675c1;
}

.footer {
    background-color: #1f2937;
    color: aliceblue;
    display: flex;
}

.footer div {
    margin: auto;
}

